<template>
  <div>
    <p v-if="$fetchState.pending">Loading...</p>
    <p v-else-if="$fetchState.error">An error occured :(</p>
    <div v-else>
      <h1>
        All Questions
        <v-btn depressed color="primary" class="float-right">
          Ask Question
        </v-btn>
      </h1>

      <v-divider></v-divider>

      <v-div>
        <h5>{{ question.question }}</h5>
        {{ question.description }}
        <v-list three-line>
          <template v-for="answer in question.answers">
            <v-subheader
              v-if="answer.answer"
              :key="answer.id"
              v-text="answer.answer"
            ></v-subheader>
            <!-- 
            <v-divider
              v-else-if="item.divider"
              :key="index"
              :inset="item.inset"
            ></v-divider> -->

            <v-list-item v-else :key="answer.answer">
              <v-list-item-avatar>
                <!-- <v-img :src="answer.user"></v-img> -->
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-html="answer.answer"></v-list-item-title>
                <v-list-item-subtitle
                  v-html="answer.answer"
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-div>
    </div>
  </div>
</template>
<script>
export default {
  async fetch() {
    this.question = await this.$axios
      .get('/questions/view/' + this.$route.params.id + '.json')
      .then((res) => res.data.question)
  },
  data() {
    return {
      question: [],
    }
  },
}
</script>
