<template>
  <div></div>
</template>
<script>
export default {
  async fetch() {
    this.question = await this.$axios
      .post('/questions/add.json')
      .then((res) => res.data.question)
  },
  data() {
    return {
      question: [],
    }
  },
}
</script>
