<template>
  <div>
    <!-- <p v-if="$fetchState.pending">Loading...</p>
    <p v-else-if="$fetchState.error">An error occured :(</p> -->
    <div>
      <h1>All Answers</h1>
      <v-divider></v-divider>
      <v-card
        v-for="question of questions"
        :key="question.id"
        class="my-3"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="h5 mb-1">
              {{ question.question }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ question.description }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-card-actions>
          <v-btn class="primary" rounded :to="'/questions/' + question.id">
            View
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>
<script>
export default {
  async fetch() {
    this.questions = await this.$axios
      .get('/questions/my-answers.json')
      .then((res) => res.data.questions)
  },
  data() {
    return {
      questions: [],
    }
  },
}
</script>
