<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="miniVariant = !miniVariant" />

      <v-toolbar-title v-text="title" />
      <v-spacer />
      <template v-if="!isAuthenticated">
        <v-btn color="error" large to="login"> Login </v-btn>
        <v-btn color="error ml-3" large to="signup"> Signup </v-btn>
      </template>

      <template v-else>
        {{ loggedInUser.first_name }}
        <v-btn class="btn-primary" @click="logout">Logout</v-btn>
      </template>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: false,

      items: [
        {
          icon: 'mdi-apps',
          title: 'Home',
          to: '/',
        },
        {
          icon: 'mdi-apps',
          title: 'My Questions',
          to: '/users/questions',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'My Answers',
          to: '/users/answers',
        },
      ],
      miniVariant: false,
      right: true,
      title: 'StackOverflow',
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser']),
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      this.$router.push('/login')
    },
  },
}
</script>
