<template>
  <v-app dark>
    <nuxt />
  </v-app>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred',
    }
  },
  head() {
    // const title =
    //   this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    // return {
    //   title,
    // }
  },
}
</script>
