<template>
  <v-row>
    <v-col class="col-sm-4 offset-sm-4 my-auto">
      <h2>Login</h2>
      <v-form method="post" @submit.prevent="login">
        <v-container>
          <v-row> </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="email"
                type="text"
                label="Email"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="password"
                :type="show1 ? 'text' : 'password'"
                label="Password"
                outlined
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                hint="At least 8 characters"
                dense
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-btn large block type="submit" color="primary">Login</v-btn>
            </v-col>
          </v-row>
        </v-container>
        Don't have account? <nuxt-link to="signup">Signup</nuxt-link>
      </v-form>
    </v-col>
  </v-row>
</template>
<script>
export default {
  layout: 'fullpage',

  data: () => ({
    userExists: true,
    dialog: false,
    offset: true,
    show1: false,

    first_name: 'kunal',
    last_name: 'rawat',
    email: 'kunalrawat4125@gmail.com',
    password: 'san123456',
  }),
  methods: {
    async login() {
      try {
        await this.$auth.loginWith('local', {
          data: { email: this.email, password: this.password },
        })
        this.$router.push('/')
      } catch (err) {}
    },
  },
}
</script>
