<template>
  <v-row>
    <v-col class="col-sm-4 offset-sm-4 my-auto">
      <h2>Signup</h2>
      <v-form method="post" @submit.prevent="signup">
        <v-container>
          <v-row> </v-row>
          <v-row>
            <v-col cols="6">
              <v-text-field
                v-model="first_name"
                type="text"
                label="First Name"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="last_name"
                type="text"
                label="Last Name"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="email"
                type="text"
                label="Email"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="password"
                :type="show ? 'text' : 'password'"
                label="Password"
                outlined
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                hint="At least 8 characters"
                dense
                @click:append="show = !show"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-btn large block type="submit" color="primary">Signup</v-btn>
            </v-col>
          </v-row>
        </v-container>
        Already have account? <nuxt-link to="login">Login</nuxt-link>
      </v-form>
    </v-col>
  </v-row>
</template>
<script>
export default {
  layout: 'fullpage',
  auth: false,

  data: () => ({
    userExists: true,

    show: false,

    first_name: 'kunal',
    last_name: 'rawat',
    email: 'kunal.rawat@ssgmail.com',
    password: 'san123456',
  }),
  methods: {
    async signup() {
      try {
        await this.$axios.post('users/signup.json', {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          password: this.password,
        })

        await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password,
          },
        })

        this.$router.push('/')
      } catch (e) {
        this.error = e.response
      }
    },
  },
}
</script>
